.body{
    -fx-background-color: #fff;
}

.primary_btn{
    -fx-background-color: #007bff;
    -fx-background-radius: 8px;
    -fx-text-fill: #fff;
    -fx-border-color: #007bff;
    -fx-border-radius: 8px;
}

.secondary_btn{
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
    -fx-text-fill: #000000;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 8px;
}

.delete_btn{
    -fx-background-color: #dc3545;
    -fx-background-radius: 8px;
    -fx-text-fill: #fff;
    -fx-border-color: #dc3545;
    -fx-border-radius: 8px;
}

.input_field{
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 8px;
}